html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

body {
    background-color: #f0f0f0;
    height: 100%;
    overflow-x: hidden;
}

header {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.39);
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 7px 3px inset rgba(255, 255, 255, 0.123);
}

#logo {
    margin: 15px;
    filter: drop-shadow(2px 2px 3px rgba(128, 128, 128, 0.452));
}
#logo:hover {
    cursor: pointer;
}

nav#pc {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-right: 20px;
}

nav#pc > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px gray;
}

nav#pc > a:hover {
    transition: 0.3s;
    transform: scale(1.1);
    color: #fdf8e4;
}

nav#mob {
    display: none;
    background-color: #333333d2;
    gap: 20px;
    padding: 10px 0px;
    flex-direction: column;
    transition: 0.5s;
}

nav#mob.aparecido {
    display: flex;
}

nav#mob > a {
    font-size: 1.8em;
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif
}

nav#mob > a:hover {
    background-color: #494949d2;
}

#button-hamburguer {
    width: 65px;
    display: none;
    margin-right: 12px;
    cursor: pointer; 
    transition: 0.5s;
}

#button-hamburguer.clicado {
    transform: rotate(-90deg);
}

main {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

h1#tituloPrincipal {
    color: #333333;
    text-align: center;
}

/*INICIO das configurações de cliente*/

section#infoClientes {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#TituloInfoClientes {
    text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.267);
    color: #333333;
    text-align: center;
    font-family: sans-serif;
}

table#tabelaClientes {
    transition: 0.3s;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #d8d8d8;
    font-family: monospace;
}

thead > tr {
    background-color: #3b3b3b;
}
thead > tr > th {
    border: 1px solid black;
    text-shadow: 1px 1px 2px #fdf8e434;
    color: white;
}
tbody {
    border: solid 1px black;
}
tbody > tr {
    border: solid 1px black;
}
tbody > tr > td {
    border: 1px solid black;
    text-shadow: 1px 1px 2px rgb(148, 148, 148);
    text-align: center;
}

input {
    border-radius: 5px;
}

div#FiltrarClientes {
    gap: 20px;
    width: auto;
    justify-content: center;
    display: flex;
}

div#FiltrarClientes > input[type='button'] {
    border-radius: 10px;
    transition:0.3s;
    padding: 5px;
}
div#FiltrarClientes > input[type='button']:hover {
    background-color: #d3d3d3;
    transform: translateY(-4px);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.288)
}
div#FiltrarClientes > input[type='button']:active {
    background-color: #e5fdff;
    transform: translateY(0);
    box-shadow: none;
}

section#registrarCliente {
    border-radius: 20px;
    margin: 30px auto;
    background-color: #e4e4e4;
    padding: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
section#registrarCliente:hover {
    transform: translateY(-5px);
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.103);
}

h2#tituloRegistroCliente {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 2px 3px #33333369;
}

section#registrarCliente > input {
    width: 50%;
    margin-bottom: 20px;
}
section#registrarCliente > input[type='button'] {
    margin-top: 15px;
    width: auto;
    border-radius: 10px;
    transition: 0.3s;
    padding: 5px;
}
section#registrarCliente > input[type='button']:hover {
    background-color: #d3d3d3;
    transform: translateY(-4px);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.288)
}
section#registrarCliente > input[type='button']:active {
    background-color: #e5fdff;
    transform: translateY(0);
    box-shadow: none;
}
section#registrarCliente > label {
    font-family: monospace;
}
/*FIM das configurações de cliente*/

/*INICIO das configurações de livro*/

section#lista-livros {
    display: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eae7dc;
    padding: 15px;
    transition: 0.3s;
    margin-bottom: 25px;
}

section#lista-livros:hover {
    transform: translateY(-5px);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.164);
}

section#lista-livros > h2 {
    text-align: center;
    color: #3e2723;
}

#container-livros {
    text-align: center;
}

.livro {
    width: 60%;
    text-align: center;
    color: #3e2723;
    border-radius: 7px;
    border: 1px solid black;
    padding: 5px;
    margin: 15px auto;
    background-color: #d8c3a5;
}

section#cadastro-livro {
    display: none;
    text-align: center;
    align-items: center;
    background-color: #d0e2d9;
    padding: 9px;
    border-radius: 10px;
    transition: 0.3s;
}

section#cadastro-livro:hover {
    transform: translateY(-5px);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.164);
}

section#cadastro-livro > h2 {
    color: #3e4e4e;
    font-family: Arial, Helvetica, sans-serif;
}

article#form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

article#form-cadastro > input[type='button'] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    width: auto;
    margin: 0px auto 10px auto;
    border-radius: 7px;
    transition: 0.3S;
}
article#form-cadastro > input[type='button']:hover {
    background-color: rgb(230, 230, 230);
    transform: translateY(-4px);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.295);
}
article#form-cadastro > input[type='button']:active {
    background-color: rgb(203, 233, 200);
    transform: translateY(0);
    box-shadow: none;
}
article#form-cadastro > #respostaCadastroLivro {
    font-size: 1.5em;
    display: none;
    font-family: monospace;
}

#delete-book-div {
    display: none;
    margin: 25px 0px;
    background-color: #eae7dc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}

#delete-book-div:hover {
    transform: translateY(-5px);
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.164);
}

#delete-book-div > h2 {
    color: #3e2723;
    margin-bottom: 20px;
}

#delete-book-div > input {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#delete-book-div > #respostaDeletarLivro {
    font-size: 1.3em;
    font-family: monospace;
}

#delete-book-div > button {
    width: auto;
    background-color: #4a6c61; 
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: monospace;
    transition: background-color 0.3s ease;
}

#delete-book-div > button:hover {
    background-color: #3b4d42;
}

/*FIM das configurações de livro*/

/*INICIO das configurações de emprestimo*/
#realizar-emprestimo {
    display: none;
    border: 1px solid #333333;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #F2E8D5;
    color: #38352f;
    padding: 25px;
    transition: 0.3s;
}
#realizar-emprestimo:hover {
    transform: translateY(-5px);
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.137);
}
.campoEmprestimo {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
#lista-emprestimos {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    margin: 32px auto;
    text-align: center;
    background-color: #F2E8D5;
    transition: 0.3s;
}
#lista-emprestimos:hover {
    transform: translateY(-5px);
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.137);
}
/*FIM das configurações de emprestimo*/

/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1C1C1C;
    padding: 10px;
    margin-top: auto; /* Isso faz o footer ir para o final */
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    color: rgb(219, 219, 219);
    text-decoration: underline;
}

footer > p {
    margin: 10px;
    color: white;
}

/*media*/

/*celular e Tablet*/
@media(max-width:790px) {
    #logo {
        width: 85px;
    }
    #button-hamburguer {
        display: block;
    }
    nav#pc {
        display: none;
    }
    h1#tituloPrincipal {
        font-size: 3.2em;
    }
    /*INICIO configs cliente*/
    section#registrarCliente, table#tabelaClientes {
        width: 80%;
    }
    #TituloInfoClientes {
        font-size: 2.4em;   
    }
    tbody > tr > td, thead > tr > th {
        font-size: 1.4em;
    }
    #FiltrarClientes > input[type='text'] {
        width: 50%;
    }
    h2#tituloRegistroCliente {
        font-size: 1.9em;
    }
    section#registrarCliente > input[type='text'] {
        height: 24px;
    }
    section#registrarCliente > label {
        font-size: 1.8em;
    }
    /*FIM configs cliente*/

    /*INICIO configs Livro*/


    .livro > .dado-livro {
        font-size: 1.2em;
    }
    #cadastro-livro > h2, #lista-livros > h2, #delete-book-div > h2 {
        font-size: 1.7em;
    }
    .campoCadastroLivro > input[type='text'] {
        height: 30px;
        width: 260px;
    }
    .campoCadastroLivro > label {
        font-size: 1.2em;
    }
    article#form-cadastro > input[type='button'] {
        font-size: 1.2em;
    }


    #delete-book-div, section#cadastro-livro, section#lista-livros {
        width: 82%;
    }
    /*FIM configs Livro*/

    /*INICIO configs emprestimo*/
    #realizar-emprestimo, #lista-emprestimos {
        width: 80%;
    }
    .campoEmprestimo {
        width: 80%;
    }
    .campoEmprestimo > label {
        font-size: 1.4em;
    }
    #realizar-emprestimo > input[type='button'] {
        font-size: 1.2em;
    }
    /*FIM configs emprestimo*/

    /*INICIO configs Footer*/
    footer > p {
        font-size: 1.6em;
    }
    /*FIM configs Footer*/

}

/*Desktop menor*/
@media(min-width:791px) and (max-width:1390px) {
    #logo {
        width: 95px;
    }
    h1#tituloPrincipal {
        font-size: 4.2em;
    }
    nav#pc {
        gap:40px;
    }
    nav#pc > a {
        font-size: 2.1em;
    }
    /*INICIO configs cliente*/
    section#registrarCliente, table#tabelaClientes {
        width: 80%;
    }
    #TituloInfoClientes {
        font-size: 2.7em;   
    }
    tbody > tr > td, thead > tr > th {
        font-size: 1.6em;
    }
    #FiltrarClientes > input[type='text'] {
        width: 33%;
    }
    h2#tituloRegistroCliente {
        font-size: 2.3em;
    }
    section#registrarCliente > input[type='text'] {
        height: 28px;
    }
    section#registrarCliente > label {
        font-size: 2em;
    }
    /*FIM configs cliente*/

    /*INICIO configs Livro*/
    .livro > .dado-livro {
        font-size: 1.4em;
    }
    #cadastro-livro > h2, #lista-livros > h2, #delete-book-div > h2 {
        font-size: 1.9em;
    }
    .campoCadastroLivro > input[type='text'] {
        height: 34px;
        width: 410px;
    }
    .campoCadastroLivro > label {
        font-size: 1.5em;
    }
    article#form-cadastro > input[type='button'] {
        font-size: 1.4em;
    }


    #delete-book-div, section#cadastro-livro, section#lista-livros {
        width: 60%;
    }
    /*FIM configs Livro*/

    /*INICIO configs emprestimo*/
    #realizar-emprestimo, #lista-emprestimos {
        width: 80%;
    }
    .campoEmprestimo {
        width: 45%;
    }
    .campoEmprestimo > label {
        font-size: 1.7em;
    }
    #realizar-emprestimo > input[type='button'] {
        font-size: 1.3em;
    }
    /*FIM configs emprestimo*/

    /*INICIO configs Footer*/
    footer > p {
        font-size: 1.8em;
    }
    /*FIM configs Footer*/

}

/*Desktop maior*/
@media(min-width:1391px){
    #logo {
        width: 105px;
    }
    h1#tituloPrincipal {
        font-size: 5em;
    }
    nav#pc {
        gap: 50px;
    }
    nav#pc > a {
        font-size: 2.4em;
    }
    /*INICIO configs cliente*/
    section#registrarCliente, table#tabelaClientes {
        width: 55%;
    }
    #TituloInfoClientes {
        font-size: 3em;   
    }
    tbody > tr > td, thead > tr > th {
        font-size: 1.8em;
    }
    #FiltrarClientes > input[type='text'] {
        width: 40%;
    }
    h2#tituloRegistroCliente {
        font-size: 2.5em;
    }
    section#registrarCliente > input[type='text'] {
        height: 32px;
    }
    section#registrarCliente > label {
        font-size: 2.2em;
    }
    /*FIM configs cliente*/

    /*INICIO configs Livro*/

    .livro > .dado-livro {
        font-size: 1.5em;
    }

    #cadastro-livro > h2, #lista-livros > h2, #delete-book-div > h2 {
        font-size: 2.1em;
    }
    .campoCadastroLivro > input[type='text'] {
        height: 37px;
        width: 430px;
    }
    .campoCadastroLivro > label {
        font-size: 1.7em;
    }
    article#form-cadastro > input[type='button'] {
        font-size: 1.6em;
        margin-bottom: 25px;
    }


    #delete-book-div, section#cadastro-livro, section#lista-livros {
        width: 50%;
    }
    /*FIM configs Livro*/

    /*INICIO configs emprestimo*/
    #realizar-emprestimo, #lista-emprestimos {
        width: 55%;
    }
    .campoEmprestimo {
        width: 41%;
    }
    .campoEmprestimo > label {
        font-size: 1.9em;
    }
    #realizar-emprestimo > input[type='button'] {
        font-size: 1.4em;
    }
    /*FIM configs emprestimo*/

    /*INICIO configs Footer*/
    footer > p {
        font-size: 2em;
    }
    /*FIM configs Footer*/
    
}

